__pycache__
.pytest_cache
.ipynb_checkpoints

apache-tinkerpop-gremlin-console-3.7.1

*.drawio.bkp

archive.zip
News_Category_Dataset_v3.json

Python/DataScience/entity-extraction/data/*.db
/Python/DesignPatterns/lmdb_store/db